body {
  font-family: arial;
}
* {
  box-sizing: border-box;
}

.wrapper_detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer {
  padding: 30px 0;
}

.container {
  margin: 50px 50px 0 50px;
  padding: 15px;
}

h1 {
  text-align: center;
}

.item-detail {
  margin-bottom: 10px;
}

.product-items {
  border: 1px solid #000;
  padding: 30px;
}
.product-item {
  float: left;
  width: 23%;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000;
  line-height: 26px;
}
.product-item label {
  font-weight: bold;
}
.product-item p {
  margin: 0;
  line-height: 26px;
  max-height: 52px;
  overflow: hidden;
}

.price {
  font-size: 1.4rem;
}

.quatity {
  font-size: 1.4rem;
  /* margin-top: 15px; */
}
.product-price {
  font-size: 22px;
  color: #e61010;
  font-weight: 700;
}
.product-img {
  padding: 5px;
  border: 1px solid #000;
  margin-bottom: 5px;
}
.product-item img {
  max-width: 100%;
}
.product-item ul {
  margin: 0;
  padding: 0;
  border-right: 1px solid #000;
}
.product-item ul li {
  float: left;
  width: 33.3333%;
  list-style: none;
  text-align: center;
  border: 1px solid #000;
  border-right: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.buy-button {
  text-align: right;
  margin-top: 10px;
}
.buy-button a {
  background: #444;
  padding: 5px;
  color: #fff;
}

.page-item {
  border: 1px solid #000;
  padding: 5px 9px;
  color: #000;
}
.current-page {
  background: #000;
  color: #fff;
}
#product-detail {
  border-top: 1px solid #000;
  padding: 15px 0 0 0;
}
#product-img {
  width: 30%;
  float: left;
}
#product-info {
  float: right;
  width: 70%;
  text-align: left;
  /* padding-left: 30px; */
}

h1 {
  text-align: left;
  margin-top: 0;
}

.btn-order {
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #e63810;
  border-radius: 10px;
}

.name_item {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0;
  margin-bottom: 15px;
}
label.add-to-cart {
  background: #000;
  border: 1px solid #000;
  margin-top: 15px;
  padding: 15px;
  display: inline-block;
  color: #fff;
}
label a {
  color: #fff;
}
#gallery {
  margin-top: 10px;
}
#gallery ul {
  margin: 0;
  padding: 0;
}
#gallery ul li {
  width: 150px;
  float: left;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 100px;
  text-align: center;
  padding: 5px;
  border: 1px solid #000;
  background: #eee;
}
#gallery ul li img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

table {
  font-size: 1.3rem;
  border-collapse: collapse;
  width: 100%;
}

tr:hover {
  background-color: #f5f5f5;
}

table .product-img img {
  max-width: 100px;
}

table .product-img {
  width: 120px;
  text-align: center;
}

table .product-quantity-cart input {
  width: 60px;
  text-align: center;
}

.product-delete {
  width: 100px;
  text-align: center;
}
#cart-form label {
  text-align: center;
  min-width: 125px;
  font-size: 1.4rem;
  display: inline-block;
}
#cart-form textarea {
  display: inline-block;
  margin-top: 15px;
}
#cart-form input {
  display: unset;
}
input[name="order_click"] {
  margin-top: 15px;
}
#row-total {
  background: #eee;
  color: #000;
}

#add-to-cart-form {
  margin: 15px 0 0 0;
}

#add-to-cart-form input[type="submit"] {
  background: #000;
  border: 1px solid #000;
  padding: 15px;
  display: inline-block;
  color: #fff;
}

.home {
  font-size: 1.4rem;
}

.my_cart {
  font-size: 2.5rem;
  margin: 15px 0;
  text-align: center;
}

#cart-form {
  margin: 0;
  width: 100%;
}

.update_price {
  margin: auto;
  padding: 10px;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
  background: #e61010;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

th,
td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
}

.input_information,
.submit-checkout {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa chiều dọc */
  width: 39%;
  margin-bottom: 15px;
}

.form_label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input_infomation_buyer {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.center-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order {
  background-color: #eee; /* Màu nền */
  color: black; /* Màu chữ */
  padding: 10px 20px; /* Kích thước padding */
  border: none; /* Không có đường biên */
  border-radius: 4px; /* Góc bo tròn */
  cursor: pointer; /* Con trỏ khi hover */
  transition: background-color linear 0.4s; /* Hiệu ứng chuyển đổi màu nền */
  font-weight: bold;
  font-size: 1.3rem;
}

.order:hover {
  background-color: #373737;
  color: white;
}

#cart-form #name-error,
#cart-form #phone-error,
#cart-form #address-error {
  display: block;
  margin: 0;
  color: red;
}

.product-name,
.total-money {
  color: red;
  font-weight: bold;
}

.merged-column {
  font-weight: bold;
}
