body {
  font-family: arial;
}
* {
  box-sizing: border-box;
}

.wrapper_detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer {
  padding: 30px 0;
}

.container-detail {
  width: 950px;
  margin: 50px;
}

h1 {
  text-align: center;
}

.item-detail {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.product-items {
  border: 1px solid #000;
  padding: 30px;
}
.product-item {
  float: left;
  width: 23%;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000;
  line-height: 26px;
}
.product-item label {
  font-weight: bold;
}
.product-item p {
  margin: 0;
  line-height: 26px;
  max-height: 52px;
  overflow: hidden;
}

.price {
  font-size: 1.4rem;
}

.product-price {
  font-size: 22px;
  color: #e61010;
  font-weight: 700;
}
.product-img {
  padding: 5px;
  border: 1px solid #000;
  margin-bottom: 5px;
}
.product-item img {
  max-width: 100%;
}
.product-item ul {
  margin: 0;
  padding: 0;
  border-right: 1px solid #000;
}
.product-item ul li {
  float: left;
  width: 33.3333%;
  list-style: none;
  text-align: center;
  border: 1px solid #000;
  border-right: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.buy-button {
  text-align: right;
  margin-top: 10px;
}
.buy-button a {
  background: #444;
  padding: 5px;
  color: #fff;
}

.page-item {
  border: 1px solid #000;
  padding: 5px 9px;
  color: #000;
}
.current-page {
  background: #000;
  color: #fff;
}
#product-detail {
  border-top: 1px solid #000;
  padding: 15px 0 0 0;
}
#product-img {
  width: 30%;
  float: left;
}
#product-info {
  float: right;
  width: 70%;
  text-align: left;
  /* padding-left: 30px; */
}
#product-img img {
  border-radius: 20px;
}
h1 {
  text-align: left;
  margin-top: 0;
}

.btn-order {
  margin: 0;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #e63810;
  border-radius: 10px;
}

.name_item_detail {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 0;
  margin-bottom: 15px;
  text-align: left;
}

label.add-to-cart {
  background: #000;
  border: 1px solid #000;
  margin-top: 15px;
  padding: 15px;
  display: inline-block;
  color: #fff;
}
label a {
  color: #fff;
}
#gallery {
  margin-top: 10px;
}
#gallery ul {
  margin: 0;
  padding: 0;
}
#gallery ul li {
  width: 150px;
  float: left;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 100px;
  text-align: center;
  padding: 5px;
  border: 1px solid #000;
  background: #eee;
}
#gallery ul li img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  width: 1170px;
}
table,
th,
td {
  border: 1px solid black;
}
table .product-img img {
  max-width: 100px;
}
table .product-name {
  width: 350px;
  padding-left: 20px;
}
table .product-img {
  width: 120px;
  text-align: center;
}
table .product-number {
  width: 50px;
  text-align: center;
}
table .product-price {
  width: 100px;
  text-align: center;
}
/* table .product-quantity input{
    width: 40px;
    text-align: center;
}
table .product-quantity{
    width: 60px;
    text-align: center;
} */
table .total-money {
  font-weight: bold;
  width: 100px;
  text-align: center;
}
#form-button {
  text-align: right;
  margin-top: 15px;
}
.product-delete {
  width: 100px;
  text-align: center;
}

#cart-form textarea {
  margin-top: 15px;
}
#cart-form input {
  line-height: 30px;
  height: 30px;
}
input[name="order_click"] {
  margin-top: 15px;
}
#row-total {
  background: #eee;
  color: #000;
}

#add-to-cart-form {
  margin-top: 10px;
}

#add-to-cart-form input[type="submit"] {
  background: #000;
  border: 1px solid #000;
  padding: 15px;
  display: inline-block;
  color: #fff;
}

.product-quantity {
  margin-top: 10px;
}

.inventory {
  font-size: 1.4rem;
}

.out-of-stock {
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  color: red;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}

.home {
  font-size: 1.4rem;
}

/* Mới thêm vào */
.quantity-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Khoảng cách giữa "Số lượng" và ô input */
}

.quatity {
  font-size: 1.4rem;
  margin-right: 10px; /* Khoảng cách giữa "Số lượng" và ô input */
}

.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-btn {
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

.input_quantity {
  text-align: center;
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  width: 40px;
}
