.pagination-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.page-item {
  margin: 0 5px;
  padding: 7px 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

.page-item:hover {
  background-color: #eee;
}

.current-page {
  background-color: #007bff;
  color: #fff;
}
